@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@media screen and (min-width: 481px) {
  .sp-display {
    display: none;
  }
  .pc-logo {
    position: fixed;
    top: 20px;
    left: 25px;
    width: 180px;
    z-index: 1;
  }
  .ec-btn-pc {
    position: fixed;
    bottom: 0px;
    right: 40px;
    z-index: 1;
  }
  .ec-btn-pc a {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto 30px;
    color: #fff;
    background-color: #6cb99e;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
  }
  .pc-container {
    padding: 30px 0;
  }
  .pc-container .pc-inner {
    width: 33%;
    max-width: 600px;
    min-width: 450px;
    margin: auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    background: #fff;
  }
}
@media screen and (min-width: 481px) and (max-width: 999px) and (min-width: 561px) {
  .pc-container .pc-inner {
    width: 50%;
  }
}
@media screen and (min-width: 481px) {
  .pc-container .pc-inner img {
    width: 100%;
    display: block;
  }
  .pc-container .pc-inner .pc-sample {
    position: relative;
  }
  .pc-container .pc-inner .pc-sample .sample_btn {
    position: absolute;
    bottom: 12%;
    left: 6%;
    width: 88%;
    animation: poyopoyo 2s ease-out infinite;
  }
  @keyframes poyopoyo {
    0%, 40%, 60%, 80% {
      transform: scale(1);
    }
    50%, 70% {
      transform: scale(0.95);
    }
  }
  .pc-container footer {
    padding: 0 0 50px;
  }
  .pc-container footer .footer-nav {
    width: 93%;
  }
  .pc-container footer .footer-nav li:last-of-type {
    padding-right: 0;
  }
  .pc-container footer .footer-nav li a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .pc-display {
    display: none;
  }
  .pc-logo, .ec-btn-pc {
    display: none;
  }
}
html {
  font-size: 62.5%;
  background-color: #fff;
}

body {
  font-family: "Zen Old Mincho", serif;
}

p, li, dd {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  color: #5c5c5c;
}

/* スマホ時の長押し禁止 */
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

.dot {
  padding-bottom: 5px;
  background-position: bottom left -2px;
  background-repeat: repeat-x;
  background-size: 1.1em 0.3em;
  background-image: radial-gradient(0.15em 0.15em at center center, #8d8d8d, #8d8d8d 100%, rgba(141, 141, 141, 0));
}

.open {
  animation-name: fadeInAnime;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.open.wrap {
  animation-delay: 3s;
}
.open.hero-img {
  animation-delay: 3.8s;
}
.open.hero-p {
  animation-delay: 4.2s;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  opacity: 0;
  flex: 0 1 30%;
  transform: translateY(10px);
  transition: all 1.3s;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 560px) {
  .container {
    width: 100%;
  }
}

.logo_fadein {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.logo_fadein p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 20%;
}
@media screen and (max-width: 560px) {
  .logo_fadein p {
    width: 200px;
  }
}
.logo_fadein p img {
  width: 100%;
}

.sp-display header {
  text-align: center;
  padding-top: 12px;
}
.sp-display header strong img {
  width: 110px;
}
.sp-display header .logo1 {
  opacity: 0;
  position: fixed;
  top: 2vh;
  left: 5vw;
  width: 90px;
  z-index: 1;
  transition: 0.5s;
}
.sp-display header .logo1 img {
  width: 100%;
}
.sp-display header .small {
  display: block;
  width: 21.5vw;
  transition: 0.5s;
  top: 1.5vh;
  left: 3vw;
  opacity: 1;
}
.sp-display .sp-btn {
  display: block;
  width: 95%;
  margin: auto;
  animation: poyopoyo 2s ease-out infinite;
}
.sp-display .sp-btn img {
  width: 100%;
}
@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}
.sp-display .container {
  width: 100%;
}
.sp-display .container .sale {
  background: linear-gradient(to bottom, #818181, #FFF);
  height: 50vh;
  display: block;
  margin-top: -5px;
  padding: 20px 0 100px;
  text-align: center;
}
.sp-display .container .sale h2 {
  color: #fff;
  font-size: 2rem;
}
.sp-display .container .sale h2 span {
  font-size: 3.15rem;
}
.sp-display .container .sale .sale-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.sp-display .container .sale .sale-flex img {
  width: 67px;
  height: 207px;
  min-width: 33px;
  rotate: -5deg;
  filter: brightness(1.2);
}
.sp-display .container .sale .sale-flex .txt-wrap {
  width: 65%;
  text-align: left;
  margin: 15px 0;
}
.sp-display .container .sale .sale-flex .txt-wrap p {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0;
}
.sp-display .container .sale .sale-flex .txt-wrap p span {
  border-bottom: 1px solid #ffffff;
}
.sp-display .container .sale .sale-flex .txt-wrap .center {
  text-align: center;
  margin: 30px auto 10px;
}
.sp-display .container .sale .sale-flex .txt-wrap .center strong {
  font-size: 2.8rem;
  font-weight: 600;
  display: block;
  color: #638eab;
  line-height: 1.4;
}
.sp-display .container .sale .sale-flex .txt-wrap .center span {
  color: #5c5c5c;
}
.sp-display .container .sale .sale-flex .txt-wrap .center span.bold {
  font-weight: 600;
}
.sp-display .container .sale .sale-flex .txt-wrap p.normal {
  color: #5c5c5c;
}
.sp-display .container .sale .sale-flex .txt-wrap p.first {
  color: #fafafa;
  font-size: 1.8rem;
  display: inline-block;
  padding: 2px 7px;
  background: #c59292;
}
.sp-display .container .sale .sale-flex .txt-wrap p.first span {
  border: none;
}
.sp-display .container .sale .sale-flex .txt-wrap .price-wrap {
  display: flex;
  align-items: center;
}
.sp-display .container .sale .sale-flex .txt-wrap .price-wrap p.zero {
  width: 15%;
  color: #c59292;
  font-size: 1.4rem;
  /* border: 1px solid #242424; */
  padding: 1px 2px 1px 7px;
  letter-spacing: 0.1rem;
}
.sp-display .container .sale .sale-flex .txt-wrap p.price {
  font-family: "Lora", serif;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 0.17rem;
  color: #c59292;
}
.sp-display .container .sale .sale-flex .txt-wrap p.price .yen {
  font-size: 1.5rem;
  border: none;
}
.sp-display .container .btn,
.sp-display .container a.btn,
.sp-display .container button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.sp-display .container a.btn-c {
  width: 70%;
  margin: auto;
  font-size: 3rem;
  font-weight: normal;
  padding: 1.5rem 5rem 1.5rem 4rem;
  color: #fff;
  border: 1px solid #238949;
  border-radius: 1rem;
  background: linear-gradient(0deg, #238949 50%, #20b958 100%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6), 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: poyopoyo 2s ease-out infinite;
}
@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}
.sp-display .container .fa-position-right {
  position: absolute;
  top: calc(50% - 0.8em);
  right: 1rem;
}
.sp-display .container .fa-arrow-circle-right:before {
  content: "＞";
  font-style: initial;
  font-size: 1.6rem;
  font-weight: bold;
}
.sp-display .container #merit {
  position: relative;
  background-image: url(img/usr/freepage2/merit_back.png);
  background-position: center -10px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.sp-display .container #merit h2 {
  position: absolute;
  top: 0;
  right: 6vw;
  writing-mode: vertical-rl;
  font-size: 3.25rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #5c5c5c;
}
.sp-display .container #merit ul {
  width: 65%;
  margin: 0 auto 0 5vw;
}
.sp-display .container #merit ul li {
  text-align: center;
  margin: 40px auto;
}
.sp-display .container #merit ul li h3 {
  font-size: 2rem;
}
.sp-display .container #merit ul li h3 span {
  border-bottom: 1px solid #5c5c5c;
}
.sp-display .container #merit ul li span.num {
  font-size: 4rem;
  letter-spacing: -2px;
}
.sp-display .container .btn-wrap {
  text-align: center;
}
.sp-display .container #gender {
  margin-bottom: 315px;
  margin-top: 50px;
}
.sp-display .container #gender h2 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: right;
  margin-bottom: 20px;
  color: #5c5c5c;
}
.sp-display .container #gender .wrap1 {
  position: relative;
  margin-bottom: 150px;
}
.sp-display .container #gender .wrap1 .img {
  width: 65%;
}
.sp-display .container #gender .wrap1 .img img {
  width: 100%;
  box-shadow: 55px 59px 0px 0px #7c909d;
}
.sp-display .container #gender .wrap1 .txt {
  background: #f2f2f2;
  position: absolute;
  top: 70%;
  right: 1vw;
  width: 59%;
  padding: 25px 20px;
}
.sp-display .container #gender .wrap1 .txt h3 {
  position: absolute;
  right: 10px;
  top: -15vw;
}
.sp-display .container #gender .wrap1 .txt h3 img {
  width: 150px;
}
.sp-display .container #gender .wrap1 .txt h4 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}
.sp-display .container #gender .wrap1 .txt p {
  font-size: 1.8rem;
  letter-spacing: 0;
}
.sp-display .container #gender .wrap2 {
  position: relative;
}
.sp-display .container #gender .wrap2 .img {
  width: 65%;
  margin: 0 0 0 auto;
}
.sp-display .container #gender .wrap2 .img img {
  width: 100%;
  box-shadow: -80px 111px 0px 0px #bda4ac;
}
.sp-display .container #gender .wrap2 .txt {
  background: #f2f2f2;
  position: absolute;
  top: 89%;
  left: 1vw;
  width: 76%;
  padding: 25px 15px;
}
.sp-display .container #gender .wrap2 .txt h3 {
  position: absolute;
  left: 4px;
  top: -20vw;
}
.sp-display .container #gender .wrap2 .txt h3 img {
  width: 165px;
}
.sp-display .container #gender .wrap2 .txt h4 {
  position: relative;
  font-size: 2.6rem;
  margin-bottom: 10px;
}
.sp-display .container #gender .wrap2 .txt h4 span {
  position: absolute;
  font-size: 1.15rem;
  top: 5px;
  right: 121px;
  color: #7c7c7c;
}
.sp-display .container #gender .wrap2 .txt ul {
  margin-left: 23px;
  margin-top: 8px;
}
.sp-display .container #gender .wrap2 .txt ul li {
  list-style-type: disclosure-closed;
}
.sp-display .container #gender .wrap2 .txt p {
  font-size: 1.8rem;
  letter-spacing: 0;
}
.sp-display .container #gender .wrap2 .point {
  display: block;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #7c7c7c;
}
.sp-display .container #what {
  margin-top: 40px;
  padding: 20px 0 60px;
  color: #fff;
  background-image: url(img/usr/freepage2/what_back.jpg);
  background-position: center -10px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 980px;
}
.sp-display .container #what h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}
.sp-display .container #what h2 span {
  font-size: 3.3rem;
  white-space: nowrap;
  color: #5c5c5c;
}
.sp-display .container #what .txt {
  width: 88%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
}
.sp-display .container #what .txt .circle {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.sp-display .container #what .txt .circle p {
  display: inline-block;
  width: 110px;
  height: 110px;
  margin: 0;
  border-radius: 50%;
  background: #62a2bd;
  text-align: center;
  line-height: 110px;
  color: #fff;
  font-size: 1.65rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.sp-display .container #what p {
  width: 85%;
  margin: auto;
  color: #2b2b2b;
}
.sp-display .container #what p:first-of-type {
  text-align: center;
  margin-bottom: 20px;
}
.sp-display .container #what p:first-of-type span {
  border-bottom: 1px solid #5b5b5b;
  font-weight: 700;
  font-size: 2.3rem;
}
.sp-display .container #what p:nth-child(4) {
  margin-top: 8px;
}
.sp-display .container #what p:nth-child(4) span:first-of-type {
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(transparent 65%, rgba(149, 109, 109, 0.368627451) 60%);
}
.sp-display .container #what p:nth-child(4) span:last-of-type {
  font-weight: bold;
  border-bottom: 1px solid #638eab;
  color: #638eab;
}
.sp-display .container #what p .m {
  color: #005f8d;
  font-weight: 600;
}
.sp-display .container #safe {
  background-image: url(img/usr/freepage2/safe_back.png);
  background-position: center -10px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  padding: 100px 30px;
}
.sp-display .container #safe h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.sp-display .container #safe p {
  font-size: 1.8rem;
}
.sp-display .container #safe p strong {
  font-weight: bold;
  font-size: 2.3rem;
  color: #c3a27a;
}
.sp-display .container #safe p span {
  color: #ca8484;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.8);
  padding: 0px 3px;
}
.sp-display .container #Howto {
  padding: 40px 0;
}
.sp-display .container #Howto h2 {
  font-size: 4rem;
  text-align: center;
}
.sp-display .container #Howto p {
  width: 90%;
  margin: auto;
}
.sp-display .container #Howto p.star {
  width: 100%;
}
.sp-display .container #Howto ul {
  width: 90%;
  margin: 20px auto;
}
.sp-display .container #Howto ul li {
  margin: 15px 0;
}
.sp-display .container #Howto ul li h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.sp-display .container #Howto ul li h3 span {
  font-size: 4rem;
}
.sp-display .container #Howto ul li .img {
  width: 70%;
  margin: 10px auto;
}
.sp-display .container #Howto ul li .img img {
  width: 100%;
}
.sp-display .container #Howto ul li .inner {
  width: 95%;
  margin: 0 0 0 5%;
}
.sp-display .container #Howto ul li .inner li {
  margin: 0 0 10px 0;
  list-style-type: circle;
}

.hero {
  width: 100%;
}
.hero img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 0 0 50px;
}
footer .footer-nav {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 30px auto;
  padding: 0;
}
footer .footer-nav li {
  padding: 0;
  display: inline-block;
  width: 100%;
  margin: auto;
}
footer .footer-nav li a {
  text-decoration: none;
  color: #8e8e8e;
  font-size: 1.3rem;
}
footer small {
  width: auto;
  color: #8e8e8e;
}/*# sourceMappingURL=index2.css.map */